*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    padding: 0;
    max-width: 100%;
    height: 100vh;
}

.contenedor{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cabecera{
    background-color: rgb(0, 0, 0);
    max-width: auto;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}



.logo{
    transition: 0.2s;      
    overflow: hidden;
}

.logo:hover img{
    transform: scale(1.4); 
}


.titulo{                  
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
    animation: CambiarColor 20s infinite;
}

@keyframes CambiarColor {
    
    50%{
        color: red;
    }
}

.titulo h1{
    font-size: 70px;
    font-family: 'Grechen Fuemen', cursiva;
    font-weight: 700;
    
}

.titulo h3{
    font-size: 40px;
    font-family: 'Grechen Fuemen', cursiva;
    font-weight: 700;
    
}


/*----------------------------------------------------*/

.medio{
    max-width: 100%;
    height: 600px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}



.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border: 2px solid white;
    background-color: #000;
}



.menu li{
    list-style-type: none;
    background-color: #000;
    padding: 1rem 1rem;
}

.menu li:hover{
    background-color: gray;
    border: 2px solid white;
}

.menu li a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman';
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgb(117, 117, 117), 0 0 3em gray, 0 0 0.5em gray;
}

.historia{ 
    overflow: auto;
    text-align: justify;
}

.historia p{
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}

.historia hr{  
    margin: 30px auto;
    width: 65%;
    
}

.historia h1{ 
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}

.historia h2{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}

.historia img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 300px;
}

.tira{ 
    display: flex;
    flex-direction: row;

}


.historia p{  
    color: white;
    font-size: 18px;
    text-align: justify;
    margin: 10px 40px;
    font-family: 'Roboto';
    
}


/*------------------------------------------------------*/

.pie{
    max-width: 100%;
    height: 120px;
    border: 1px solid rgb(255, 255, 255); 
    margin: 5px;
    overflow: hidden;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconos i{
    color: white;
    font-size: 40px;
    margin: 1rem;   
}

.iconos i:hover{
    color: gray;
}

.legal{
    text-align: center;
}

.legal h4{
    color: white;
}



/* --------------------------Celulares--------------------------------- */



@media (min-width: 320px) and (max-width: 480px){

    .cabecera{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    
    
    
    .cabecera h1{
        font-size: 30px;
    }
    
    .cabecera h3{
        font-size: 15px;
    }
    
    .titulo{
        gap: 5px;
        margin-right: auto;
    }
    
    
    
    .deco{
        display: none;
    }
    
    .logo img{
        height: 90px !important;
        width: 110px !important;
    }
      
    .medio{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    nav{
        height: 150em;
        overflow: auto;
        margin: 5px 0;
    }
    
    .menu{
        display: flex;
        flex-direction: column ;
    }
    
    .menu li{
        border: 1px white solid;
        background-color: rgb(61, 60, 60)
    }

    .menu li a{
        font-size: 25px;
        letter-spacing: 2px;
    }

    .historia{
        border: 2px solid white;
        padding: 10px;
        margin-top: 30px;
    }

    .historia img{
        height: 120px;
        width: 150px;
        border-radius: 50%;

    }

    .tira img{
        height: 100px !important;
        width: 120px !important;
        gap: 3px;
    }

    

}


/*---------------------------------- Tablets-------------------------------------------------- */
@media (min-width: 481px) and (max-width: 768px){

    .cabecera{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        height: 200px;
    }
    
    .cabecera h1{
        font-size: 40px;
    }
    
    .cabecera h3{
        font-size: 20px;
    }

    .deco{
        display: none;
    }

    .logo{
        min-width: 140px;
    }
    
    .titulo{
        gap: 5px;
        margin-right: 50px;
    }

    nav{
        min-height: 70px;
        overflow: auto;
        margin: 5px 0;
    }
    
    .menu{
        display: flex;
        flex-direction: column ;
    }
    
    .menu li{
        border: 1px white solid;
        background-color: rgb(61, 60, 60)
    }

    .menu li a{
        font-size: 25px;
        letter-spacing: 2px;
        padding: 20px;
    }


    .historia img{
        height: 190px;
        width: 190px;
        border-radius: 50%;
    }

}

/*---------------------------Laptops---------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){

    .titulo h1{
        font-size: 45px;
    }

    .titulo h3{
        font-size: 20px;
    }

    .decoImagen{
        height: 150px;
        width: 150px;
        margin-top: 20px;
    }

    .menu li a{
        font-size: 20px;
    }

    .tira img{
        height: 200px;
        width: 200px;
    }
    
}


/* ---------------------------Pc Escritorio--------------------------------- */
@media (min-width: 1025px) and (max-width: 1200px){

    .titulo h1{
        font-size: 50px;
    }
    
    .titulo h3{
        font-size: 25px;
    }

    .decoImagen{
        height: 170px;
        width: 170px;
        margin-top: 15px;
    }

    .historia{
        border: 2px solid white;
        padding: 20px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-left: 10%;
        margin-bottom: 10px;
    }

}

